
@model String

<script type="text/javascript">
    var myobj = @Html.Raw(Json.Serialize(Model));
    var json = JSON.parse(myobj);
	var htmlTxt='';
	json.data.forEach(element=>{
        htmlTxt += '<label>warning</label> <label>'+element.warning+'</label> ';
        htmlTxt += '<label>invalid</label> <label>'+element.invalid+'</label> ';  
	});
	$("#certificate-body").append(htmlTxt);
</script>
<div class="card-body row">
    <div class="col-5 text-center" style="font-size:30px;">
        <em class="fas fa-award"></em>
    </div>
    <div id="certificate-body" class="col-7 text-center">
    </div>
</div>