@model String

<script type="text/javascript">
    var myobj = @Html.Raw(Json.Serialize(Model));
    var json = JSON.parse(myobj);
	var htmlTxt='';
	var classTxt='';
    var count;
	json.data.forEach(element=>{
        count = element.count
        element.statusList.forEach(
            e => {
				switch(e.status){
			case "up":{
				classTxt='success-backgroundColor';
			}break;
			case "warning":{
				classTxt='warning-backgroundColor';
			}break;
			case "down":{
				classTxt='false-backgroundColor';
			}break;
		}
                var p = e.count * 100 / count;
                htmlTxt +=  '<div><span>' + e.name + '</span><span class="float-right ">'+ e.count+'</span></div>'
                + '<div class="progress"><div class="progress-bar '+classTxt+'" style="width: '+p+'%" role="progressbar" aria-valuenow="'+e.count+'" aria-valuemin="0" aria-valuemax="'+count+'"></div></div>'; }
        )
		
	});
	$("#control-status-body").append(htmlTxt);
    $("#titleControlStatusCount").append(count);
</script>
<h5>Control Status (Total <span id="titleControlStatusCount"></span>)</h5>
<div id="control-status-body"></div>
