<div class="modal fade" tabindex="-1" role="dialog" id="siteHealthModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
					<div class="modal-header">
						<a href="#" class="close" data-dismiss="modal"><i class="fas fa-times"></i></a>
					</div>
                    <div class="modal-body modal-body-md">
						<table id="siteHealthTbl" class="display" style="width:100%">
    </table>
                    </div>
                </div><!-- .modal-content -->
            </div><!-- .modla-dialog -->
        </div><!-- .modal -->