<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="SAT.PUV.Dashboard" IconClass="fas fa-desktop" controller="Home" action="Index"/>
    <siteMapNode SystemName="ControlPanel" nopResource="SAT.PUV.ControlPanel" PermissionNames="ManageControlPanel" IconClass="fas fa-globe" >
      <siteMapNode SystemName="General Dashboard" nopResource="SAT.PUV.ControlPanel.GeneralDashboard" PermissionNames="ManageControlPanel" controller="ControlPanel" action="List"  IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Devices Status" nopResource="SAT.PUV.ControlPanel.DevicesStatus" controller="ControlPanel" action="StatusList" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Devices Alarms" nopResource="SAT.PUV.ControlPanel.DevicesAlarms" controller="ControlPanel" action="AlarmsList" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Devices Events" nopResource="SAT.PUV.ControlPanel.DevicesEvents" controller="ControlPanel" action="EventsList" IconClass="far fa-dot-circle" />
  </siteMapNode>
    <siteMapNode SystemName="Service desk" nopResource="SAT.PUV.ServiceDesk" PermissionNames="ManageServiceDesk" controller="ServiceDesk" action="Index" IconClass="fas fa-laptop" />
    <siteMapNode SystemName="Service monitoring" nopResource="SAT.PUV.ServiceMonitoring" PermissionNames="ManageServiceMonitoring" IconClass="fas fa-glasses">
      <siteMapNode SystemName="Service monitoring dashboard" nopResource="SAT.PUV.ServiceMonitoring.Dashboard" PermissionNames="ManageServiceMonitoring" controller="ServiceMonitoring" action="Index" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Service monitoring geography" nopResource="SAT.PUV.ServiceMonitoring.Geography" PermissionNames="ManageServiceMonitoring" controller="ServiceMonitoring" action="Index" IconClass="far fa-dot-circle" />
    </siteMapNode>
    <siteMapNode SystemName="Security display" nopResource="SAT.PUV.SecurityDisplay" PermissionNames="ManageSecurityDisplay" controller="SecurityDisplay" action="Index" IconClass="fas fa-lock" />
    <siteMapNode SystemName="Information repository" nopResource="SAT.PUV.InformationRepository" PermissionNames="ManageInformationRepository" controller="InformationRepository" action="Index" IconClass="fas fa-info-circle" />
    <siteMapNode SystemName="Online reports" nopResource="SAT.PUV.OnlineReports" PermissionNames="ManageOnlineReports" controller="OnlineReports" action="Index" IconClass="fas fa-chart-pie" />
    <siteMapNode SystemName="Service level" nopResource="SAT.PUV.ServiceLevel" PermissionNames="ManageServiceLevel" controller="ServiceLevel" action="Index" IconClass="fas fa-chart-line" />
   
    <siteMapNode SystemName="Users" nopResource="SAT.PUV.Users" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="far fa-user" >
      <siteMapNode SystemName="Users list" nopResource="SAT.PUV.Customers.Users" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Users roles" nopResource="SAT.PUV.Customers.UsersRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Online users" nopResource="SAT.PUV.Customers.OnlineUsers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="far fa-dot-circle" />      
      <siteMapNode SystemName="Access control list" nopResource="SAT.PUV.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Activity logs" nopResource="SAT.PUV.Customers.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Activity types" nopResource="SAT.PUV.Customers.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageStores,ManageCountries,ManageLanguages,ManageSettings,ManageAppSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fas fa-cogs">
      <siteMapNode SystemName="Component settings" nopResource="Admin.Configuration.Settings.ComponentSettings" controller="ComponentSetting" action="AllSettings" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="far fa-circle"/>
      <siteMapNode SystemName="Email accounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-circle"/>
      <siteMapNode SystemName="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Instances" nopResource="Admin.Configuration.Instances" PermissionNames="ManageStores" controller="Store" action="List" IconClass="far fa-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fas fa-cube">
      <siteMapNode SystemName="System information" nopResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>
