@model CustomerModel


<div class="card-body">
    <ul class="common-list">
        <li>@T("Admin.Customers.Customers.Impersonate.Description1")</li>
        <li>@T("Admin.Customers.Customers.Impersonate.Description2")</li>
    </ul>
    <button type="submit" name="impersonate" class="btn btn-primary">
        <em class="fas fa-shopping-cart"></em>
        @T("Admin.Customers.Customers.Impersonate.Button")
    </button>
</div>